setuptools~=49.2.1
opencv-python~=4.5.1.48
numpy~=1.21.2
matplotlib~=3.4.3
scipy~=1.9.3
yolov5~=6.2.3
ksvd~=0.0.3
dictlearn~=0.2.1
phasepack~=1.5
torch~=1.13.0
scikit-image~=0.19.3
scikit-learn~=1.1.3